.banner {
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    .banner-wrap {
        padding: 5%;
    }
    h2 {
        max-width: 10em;
        line-height: 1.3em;
        margin-top: 1em;
        margin-bottom: .5em;
    }
    p {
        max-width: 35em;
        margin-top: 0;
    }
    .link {
        display: inline-block;
        color: $color-grad-cyan;
        border-bottom: 1px solid $color-grad-cyan;
        padding-bottom: .3em;
        transition: all .2s ease-in;
        &::after {
            content: url("icon-arrow.svg");
            display: inline-block;
            height: 1em;
            width: 1em;
            margin-left: .333em;
            transform: translateY(.25em);
            transition: inherit;
        }
        &:hover,
        &:focus,
        &:active {
            border-bottom-color: transparent;
            &::after {
                margin-left: .75em;
            }
        }
    }
}