body {
    background-color: $color-bg-intro;
}

.wrapper {
    width: 90%;
    margin: auto;
    padding-top: 4.5em;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    ul li {
        display: inline-block;
        list-style: none;
        padding: 0 1.5em;
        a {
            text-decoration: none;
            font-family: $font-headings;
            color: $color-nav;
            border-radius: 40px;
            background-color: transparent;
            transition: 0.6s;
        }
        a:hover {
            @extend %button;
            padding: 0.5em 1.5em;
            font-weight: $bold;
        }
    }
}
.intro {
    margin: auto;
    width: 60%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    position: relative;
}
/* WORKING ON IT, ERROR 
.intro::after {
    content: "";
    background-image: url("images\bg-curvy-desktop.svg");
    position: absolute;
    top: 0;
    height: 449px;
    width: 700px;
} */

.wrap-grid {
    margin: auto;
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.wrap-grid-item {
    width: 29.5%;
    text-align: center;
    padding: 1.8em;
}

