body {
    background-color: $color-bg-intro;
}

a {
    text-decoration: none;
	&:hover,
	&:focus,
	&:active {
      text-decoration: none;
      outline: 0;
  }
}

main {
    background-color: $color-bg-main;
}