body {
    background-color: $color-bg-intro;
}

a {
    text-decoration: none;
	&:hover,
	&:focus,
	&:active {
      text-decoration: none;
      outline: 0;
  }
}

.wrapper {
    width: 90%;
    margin: auto;
    padding-top: 4.5em;
}

.grid {
    margin: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}

.grid-item {
    text-align: center;
    margin: 0 6em;
    align-self: center;
    p {
        max-width: 20em;
    }
    img {
        padding: .5em;
    }
}

