%button {
    border-radius: 40px;
    background-image: linear-gradient(135deg, $color-grad-cyan, $color-grad-blue);
    text-decoration: none;
    color: $color-text;
    font-family: $font-headings;
    font-weight: 700;
    text-align: center;
}

.btn {
    @extend %button;
    padding: 18px 30% 18px 30%;
    @media #{$breakpoint} {
        padding: 18px 85px 18px 85px;
    }
}

.btn-form {
    @extend %button;
    border: none;
    outline: 0;
    padding: 18px 20% 18px 20%;
    @media #{$breakpoint} {
    padding: 15px 35px 15px 35px;
    }
}