.intro {
    margin: auto;
    padding-bottom: 9em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    //curvy-background
    background-image: url("bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    h1 {
        max-width: 20em;
    }
    p {
        max-width: 30em;
        margin: 0 auto 1.5em;
    }
}