.nav-top {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    ul li {
        display: inline-block;
        list-style: none;
        padding: 0 1.5em;
        a {
            color: $color-grey;
            border-radius: 40px;
            background-color: transparent;
            transition: all .4s ease-in-out;
            &:hover {
                @extend %button;
                padding: 0.5em 1.5em;
            }
        }
    }
}