.nav-bottom {
    background-color: $color-bg-footer;
    padding: 18em 7% 5%;
    margin-top: -7em;
    @media #{$breakpoint} {
        padding: 15em 7% 5%;
        margin: 0;
    }
    .nav-flex {
    display: block;
    position: relative;
    @media #{$breakpoint} {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        justify-content: space-evenly;
    }
    &::before {
        content: url(logo.svg);
        position: absolute;
        top: -5em;
        left: 5%;
        @media #{$breakpoint} {
            top: -4em;
        }
    }
        .nav-column {
            color: $color-grey;
            text-decoration: none;
            .location {
                max-width: 22em;
                line-height: 1.5em;
                overflow: hidden;
                margin-bottom: 0;
                @media #{$breakpoint} {
                    max-width: 25em;
                }
                &::before {
                    content: url(icon-location.svg);
                    float: left;
                    padding: .3em 1.5em 5em;
                }
            }
            .phone {
                margin-top: 0;
                @media #{$breakpoint} {
                    margin: 1em 0 1em;
                }
                &::before {
                    content: url(icon-phone.svg);
                    padding: .5em 1.5em 0;
                }
            }
            .email {
                &::before {
                    content: url(icon-email.svg);
                    padding: .5em 1.5em 0;
                }
            }
            .nav-links {
                margin-left: -1em;
                margin-top: 2em;
                @media #{$breakpoint} {
                    margin: 0;
                }
                li {
                    list-style-type: none;
                    padding-top: 1em;
                    a {
                        transition: all .2s ease-in-out;
                        &:hover,
                        &:focus {
                            outline: 0;
                            color: $color-grad-cyan;
                        }
                    }
                }
            }
            .social-media {
                margin: 3em auto 0;
                width: 10em;
                height: 3em;
                @media #{$breakpoint} {
                    margin: 1em auto 0;
                }
                li {
                    list-style-type: none;
                    display: inline-block;
                    padding: 0 .3em 0;
                    i {
                        text-align: center;
                        border: 1px solid $color-grey;
                        border-radius: 50%;
                        width: 1em;
                        height: 1em;
                        padding: .5em;
                        transition: all .2s ease-in-out;
                        &:hover,
                        &:focus {
                            outline: 0;
                            color: $color-white;
                            transform: scale(1.2);
                            background-image: linear-gradient(135deg, $color-grad-blue, $color-grad-cyan);
                        }
                    }
                }
            }
        }
    }
}