.testimonials {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 5em;
    margin-bottom: 5em;
    blockquote {
        background-color: $color-bg-testi;
        padding: 1.5em 1.8em 1em;
        margin: 1.2em 10%;
        border-radius: 5px;
        position: relative;
        @media #{$breakpoint} {
            margin: 1.2em; 
        }
        &:first-child::before {
            content: url(bg-quotes.png);
            transform: scale(0.4);
            position: absolute;
            top: -3.5em;
            left: -1.2em;
            filter: grayscale(100%) brightness(70%) sepia(100%) hue-rotate(140deg) saturate(900%) contrast(1.5);
            @media #{$breakpoint} {
                transform: scale(0.7);
                top: -4em;
                left: -1.3em;
            }
        }
        p {
            max-width: 23em;
            font-size: pxtoem(12);
            line-height: 1.5em;
            letter-spacing: .05em;
            @media #{$breakpoint} {
                font-size: pxtoem(14);
            }
        }
        footer {
            display: flex;
            justify-content: left;
            flex-flow: row wrap;
            img {
                width: 1.5em;
                height: 1.5em;
                border-radius: 50%;
                align-self: center;
            }
            .footer-wrap {
                margin-left: .5em;
                h2 {
                    font-size: pxtoem(10);
                    letter-spacing: .1em;
                    padding-top: 0.1em;
                    margin-bottom: 0;
                }
                p {
                    font-size: pxtoem(9);
                    margin-top: .2em;
                }  
            }
        }
    }
}