p {
    color: $color-grey;
    font-family: $font-body;
    font-weight: 400;
}

h1, h2 {
    color: $color-white;
    font-family: $font-headings;
    font-weight: 700;
}

.nav-top ul li a {
    font-family: $font-headings;
    &:hover {
        font-weight: $bold;
    }
}

.banner .banner-wrap a {
    font-family: $font-body;
}